
    body{
        background-color: #0c2900;
        color: white;
        border-width: 20px;
        border: double;
    }
    main {
        width: 60%;
        margin: 0 auto;
    }
    article{
        margin-left: 20%;
        width: 55%;
        margin: 0 auto;

    }
    nav{
        float: left;

    }
    h1{
        font-family: font-family: 'Rye', cursive;
        font-size: 3em;
        text-align: center;
    }
    h2{
        font-family: font-family: 'Rye', cursive;
        text-align: center;
        line-height: 0.2;
    }
    h3{
        text-align: center;
        font-size: 4em;
        line-height: 0.2;
    }
    img {
        width: 400px;
        margin: 10px;
    }
    .Titelbild{

    }
    .Kappitelbild4{
        float: left;
    }
    p{
      font-family: 'Simonetta', cursive;  
      font-size: 1.3em;
    }
    blockquote{
        font-family: 'Tangerine', cursive;
        font-size: 2em;
    }
    .Signatur{
        text-align: center;
        font-family: 'Tangerine', cursive;
        font-size: 2em;
    }
    .Intro{
        text-align: center;
        font-family: 'Tangerine', cursive;
        font-size: 2em;
    }
    #Kapitel1, #Kapitel2, #Kapitel3, #Kapitel4{
        font-family: 'Simonetta', cursive;
    }

    .Navigation{
        font-family: font-family: 'Rye', cursive;
        font-size: 3em;
    }
